body {
    max-width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-image: url(/img/beach-1852945__480.jpg); 
    max-width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}


h1  {
    text-align: center;
    padding: 40px;
    color: rgb(9, 9, 126);
}

h2 {
    text-align: center;
    margin: 30px;
    color: rgb(23, 60, 86);
}


#board {
	background-color: rgb(23, 60, 86);
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 50px;

}

#box1:hover,
#box1:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}

#box1 {
    width: calc(25% - 10px); /* Adjust the width as needed */
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
  
}

#box2:hover,
#box2:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}


    #box2 {
        width: calc(25% - 10px); /* Adjust the width as needed */
        background-color: #DFF0D8;
        border: 1px solid #3C763D;
        padding: 10px;
        box-sizing: border-box;
        margin: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        cursor: pointer; 
        
}


#box3:hover,
#box3:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}

#box3 {
    width: calc(25% - 10px); /* Adjust the width as needed */
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
}

#box4:hover,
#box4:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}

#box4 {
    width: calc(25% - 10px); /* Adjust the width as needed */
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
}


#container {
    text-align: center;
    margin-top: 100px;
    background-color: #DFF0D8;
    width: auto; 
    border: #3C763D solid 3px;
}

#weather {
    margin-top: 20px;
  }
  
  p {
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:x-large; 
    font-weight: bold;
  }