@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');


body {
    min-height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(137, 176, 162);
    background-image: url(/img/clouds-449822_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 90%;
}

header {
    max-width: 100%;
    height: 22vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 90%;
}


h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 23px;
}

.headline {
    text-align: center;
    padding: 20px;
    color: rgb(246, 249, 249);
    font-size: 40px;
    font-family: 'Playfair Display', sans-serif;
}

h2 {
    text-align: center;
    margin: 20px;
    color: rgb(23, 60, 86);
    font-size: 20px;
}


#board {
    background-color: rgb(23, 60, 86);
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
    height: fit-content;

}

#box1:hover,
#box1:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}

#box1 {
    width: calc(25% - 10px);
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

#box2:hover,
#box2:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}


#box2 {
    width: calc(25% - 10px);
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}


#box3:hover,
#box3:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}

#box3 {
    width: calc(25% - 10px);
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#box4:hover,
#box4:active {
    background-color: rgba(98, 145, 165, 0.361);
    color: rgb(246, 249, 249);
    transform: scale(1);
}

#box4 {
    width: calc(25% - 10px);
    background-color: #DFF0D8;
    border: 1px solid #3C763D;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#selectedcity {
    text-align: center;
    margin-bottom: 10px;

}

#container {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(23, 60, 86);
    width: auto;
    border: #3C763D solid 3px;
}

#weather {
    margin-top: 5px;
}

p {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

footer {
    height: 30px;
}

.foot {
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: #DFF0D8;
    font-size: small;
    text-align: right;
    padding: 5px;
}